/**
/** Password strength meter
.woocommerce-password-strength
  text-align: center
  font-weight: 600
  padding: 3px 0.5em
  font-size: 1em

  &.strong
    background-color: #c1e1b9
    border-color: #83c373

  &.short
    background-color: #f1adad
    border-color: #e35b5b

  &.bad
    background-color: #fbc5a9
    border-color: #f78b53

  &.good
    background-color: #ffe399
    border-color: #ffc733

.woocommerce-password-hint
  margin: 0.5em 0 0
  display: block

.woocommerce-MyAccount-content
  +span(12 of 12)
  padding: 25px

  +breakpoint($tablet-portrait-up)
    +span(8 of 12 last)

.woocommerce-MyAccount-navigation
  +span(12 of 12)
  margin-bottom: 15px
  +breakpoint($tablet-portrait-up)
    +span(4 of 12)

  ul
    list-style: none
    padding: 0
    margin: 0

    li
      a
        padding: 10px 20px
        width: 100%
        text-decoration: none

        &:hover
          background-color: $gray-50

      &.is-active
        a
          color: white
          background-color: $blue

#customer_login, .woocommerce-ResetPassword

  +container
  padding: 50px

  form.login, form.register
    border: none
    padding: 0
