
/**
/** Photoswipe
/** 1. These styles are required to overwrite default theme button styles (Twenty Twelve adds gradients via background-image).
/** 2. For zooming on mobile.
.pswp
  z-index: 999999

.woocommerce img.pswp__img,
.woocommerce-page img.pswp__img
  max-width: none

  /* 2

button.pswp__button
  box-shadow: none !important
  background-image: url("../../../images/photoswipe/default-skin/default-skin.png") !important

button.pswp__button,
button.pswp__button:hover,
button.pswp__button--arrow--left::before,
button.pswp__button--arrow--right::before
  background-color: transparent !important

  /* 1

button.pswp__button--arrow--left,
button.pswp__button--arrow--right,
button.pswp__button--arrow--left:hover,
button.pswp__button--arrow--right:hover
  background-image: none !important

  /* 1

button.pswp__button--close:hover
  background-position: 0 -44px

button.pswp__button--zoom:hover
  background-position: -88px 0

.woocommerce-message,
.woocommerce-error,
.woocommerce-info
  padding: 15px
  margin: 0 0 15px 0 !important
  position: relative
  background-color: lighten($secondary, 5%)
  color: $secondarytext
  border-top: 30px solid $primary
  list-style: none outside
  +clearfix

  width: auto
  word-wrap: break-word

  &::before
    font-family: 'WooCommerce'
    content: '\e028'
    display: inline-block
    position: absolute
    top: -28px
    left: 15px

  a.button
    position: absolute
    background: transparent
    border-radius: 0
    color: white
    right: 0
    top: -30px
    padding: 2px 20px
  li
    list-style: none outside !important

    // Required for default theme compatibility
    padding-left: 0 !important

    // Required for default theme compatibility
    margin-left: 0 !important

    // Required for default theme compatibility
