/**
/** Reviews
#reviews
  h2 small
    float: right
    color: $subtext
    font-size: 15px
    margin: 10px 0 0

    a
      text-decoration: none
      color: $subtext

  h3
    margin: 0

  #respond
    margin: 0
    border: 0
    padding: 0

  #comment
    height: 75px

  #comments
    .add_review
      +clearfix

    h2
      clear: none

    ol.commentlist
      +clearfix

      margin: 0
      width: 100%
      background: none
      list-style: none

      li
        padding: 0
        margin: 0 0 20px
        border: 0
        position: relative
        background: 0
        border: 0

        .meta
          color: $subtext
          font-size: 0.75em

        img.avatar
          float: left
          position: absolute
          top: 0
          left: 0
          padding: 3px
          width: 32px
          height: auto
          background: $secondary
          border: 1px solid darken($secondary, 3%)
          margin: 0
          box-shadow: none

        .comment-text
          margin: 0 0 0 50px
          border: 1px solid darken($secondary, 3%)
          border-radius: 4px
          padding: 1em 1em 0

          +clearfix

          p
            margin: 0 0 1em

          p.meta
            font-size: 0.83em

      ul.children
        list-style: none outside
        margin: 20px 0 0 50px

        .star-rating
          display: none

      #respond
        border: 1px solid darken($secondary, 3%)
        border-radius: 4px
        padding: 1em 1em 0
        margin: 20px 0 0 50px

    .commentlist > li::before
      content: ''
