.error404
  background: url('images/404-background.jpg') no-repeat
  background-size: cover
  height: 100vh
  text-align: center

  .site-wrapper
    height: 100vh
    width: 100%

  .container
    top: 50%
    width: 100%
    padding: 0
    transform: translateY(-50%)
    margin: 0 auto

  h1
    color: white
    +rem('font-size', 170px)
    line-height: 100%
    font-weight: 700
    margin: 0

  h2
    color: $yellow
    +rem('font-size', 24px)
    line-height: 100%
    margin: 0 0 30px
