.contact-widget
  ul
    list-style: none

  li
    padding-left: 30px
    margin-bottom: 24px
    position: relative

    &::after
      position: absolute
      font-family: 'Ionicons'
      left: 0
      top: 50%
      transform: translateY(-50%)
      +rem('font-size', 24px)
      opacity: .6

  &__phone::after
    content: '\f4b9'

  &__address::after
    content: '\f3a3'

  &__email::after
    content: '\f2eb'

  &__social-links
    &--twitter,
    &--facebook,
    &--instagram,
      border-radius: 100px
      margin: 4px
      width: 42px
      height: 42px
      color: white
      position: relative
      background: rgba(255,255,255,.3)
      +rem('font-size', 26px)

      &::before
        color: white
        position: absolute
        top: 50%
        left: 50%
        transform: translateY(-50%) translateX(-50%)

    &--twitter
      background: $twitter-brand-color
      &:hover
        background: darken($twitter-brand-color, 10)

    &--facebook
      background: $facebook-brand-color
      &:hover
        background: darken($facebook-brand-color, 10)

    &--instagram
      background: $instagram-brand-color
      &:hover
        background: lighten($instagram-brand-color, 10)
