/*!
Theme Name: Man In The Sea Museum
Theme URI: http://brycehewett.com
Author: Bryce Hewett
Version: 1.0
Author URI: http://brycehewett.com
Text Domain: MSM
*/

$total-columns: 12;
$column-width: 30px;
$gutter-width: 30px;
$grid-padding: 15px;

//Grays
$gray: #607D8B;
$gray-900: darken($gray, 25);
$gray-800: darken($gray, 20);
$gray-700: darken($gray, 15);
$gray-600: darken($gray, 10);
$gray-500: $gray;
$gray-400: lighten($gray, 10);
$gray-300: lighten($gray, 25);
$gray-200: lighten($gray, 35);
$gray-100: lighten($gray, 45);
$gray-50: lighten($gray, 50);

$pink: #E91E63;
$green: #4CAF50;
$blue: #1E95AB;
$dark-blue: #114976;
$yellow: #E8D353;
$red: #ed1c24;
$orange: #FF5722;
$dark-teal: #008E9F;
$teal: #9DD3DB;
$dark-red: #551C1C;

$facebook-brand-color: #3E5D99;
$twitter-brand-color: #2AA3F0;
$instagram-brand-color: #231F20;
$snapchat-brand-color: #FFFA37;
$linkedin-brand-color: #1178B3;
$googleplus-brand-color: #DA4F46;
$pinterest-brand-color: #BB0F23;

$primary: $yellow;
$secondary: $blue;

$text-color: #0D3649;

$link-color: $secondary;

$phone-only: max-width 599px;
$tablet-portrait-up: 600px;
$tablet-landscape-up: 900px;
$desktop-up: 1200px;

// Primary color for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%);
// Text on primary color bg
$secondary: desaturate(lighten($primary, 40%), 21%);
// Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%);
// Text on secondary color bg
$highlight: $green;
// Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%);
// Text on highlight color bg
$contentbg: #fff;
// Content BG - Tabs (active state)
$subtext: #777;
// small, breadcrumbs etc
$ionicons-font-path: "libs/Ionicons/fonts";

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 2/4, // The size of a gutter in relation to a single column
);

@import "susy";
@import "breakpoint";
@import "modern-normalize";
//Mixins
@import "mixins/woocommerce-mixins";
@import "mixins/rem";
@import "mixins/angle";
//Vendor
@import "includes/wordpress-reset";
@import "ionicons-variables";
@import "ionicons-font";
@import "ionicons-icons";
//Global
@import "includes/utilities";
@import "includes/fonts";
@import "includes/typography";
@import "includes/animation";
@import "includes/buttons";
@import "includes/layout";
@import "includes/forms";
@import "includes/header";
//Navigation
@import "includes/nav/nav-primary";
@import "includes/nav/nav-secondary";
@import "includes/nav/nav-mobile";
@import "includes/nav/nav-cart";
@import "includes/nav/nav-breadcrumbs";
@import "includes/nav/nav-posts";
//Widgets
@import "includes/widgets/default-widgets";
@import "includes/widgets/contact-info";
@import "includes/posts";
@import "includes/pages";
@import "includes/sidebar";
@import "includes/footer";
@import "includes/woocommerce";
//Template Specific
@import "includes/page/page-home";
@import "includes/page/404";

@import "includes/_ie-fixes";
