a
  display: inline-block
  color: $blue
  text-decoration: none

  &:hover
    text-decoration: underline

.btn
  &__quick-add
    background: white
    border-radius: 10px
    border: 2px solid lighten($blue, 40)
    color: $blue
    font-weight: 600
    text-align: center

    &:hover
      background: lighten($blue, 55)
      text-decoration: none

    &__container
      &__donations
        display: block
        margin-bottom: 10px
        +breakpoint($tablet-portrait-up)
          display: flex
          justify-content: space-between

    &__donation
      margin-bottom: 15px
      padding: 30px 15px
      display: block
      +rem('font-size', 40px)
      +breakpoint($tablet-portrait-up)
        padding: 40px 20px
      +breakpoint($tablet-landscape-up)
        padding: 50px 30px

      span
        +rem('font-size', 14px)

    &__membership
      padding: 15px
      width: 100%
      text-align: center
      margin: 5px


  &__default
    +rem('font-size', 14px)
    padding: 14px 20px
    font-weight: 700
    position: relative
    cursor: pointer
    text-align: center
    line-height: 150%
    @extend %default-border-radius

    &:hover
      opacity: .8
      text-decoration: none

  &__large
    +rem('font-size', 16px)
    padding: 15px 40px
    font-weight: 700
    position: relative
    cursor: pointer
    text-align: center
    @extend %large-border-radius

    &:hover
      opacity: .8
      text-decoration: none

  &__primary
    border: none
    color: white
    background-color: $blue

  &__secondary
    border: none
    background-color: white
    color: $gray-600

  &__tertiary
    border: 2px solid white
    background-color: $yellow
    color: $blue

  &__white
    border: none
    color: $blue
    background: white

  &__allcaps
    text-transform: uppercase
    +rem('font-size', 13px)
