/** Custom WooCommerce fonts.
@font-face
  font-family: 'star'
  src: url('fonts/star/star.eot')
  src: url('fonts/star/star.eot?#iefix') format('embedded-opentype'), url('fonts/star/star.woff') format('woff'), url('fonts/star/star.ttf') format('truetype'), url('fonts/star/star.svg#star') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'WooCommerce'
  src: url('fonts/WooCommerce/WooCommerce.eot')
  src: url('fonts/WooCommerce/WooCommerce.eot?#iefix') format('embedded-opentype'), url('fonts/WooCommerce/WooCommerce.woff') format('woff'), url('fonts/WooCommerce/WooCommerce.ttf') format('truetype'), url('fonts/WooCommerce/WooCommerce.svg#WooCommerce') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Aleo'
  src: url('fonts/aleo/Aleo-Regular.eot')
  src: url('fonts/aleo/Aleo-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/aleo/Aleo-Regular.woff') format('woff'), url('fonts/aleo/Aleo-Regular.ttf') format('truetype'), url('fonts/aleo/Aleo-Regular.svg#AleoRegular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Aleo'
  src: url('fonts/aleo/Aleo-Italic.eot')
  src: url('fonts/aleo/Aleo-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/aleo/Aleo-Italic.woff') format('woff'), url('fonts/aleo/Aleo-Italic.ttf') format('truetype'), url('fonts/aleo/Aleo-Italic.svg#AleoItalic') format('svg')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Aleo'
  src: url('fonts/aleo/Aleo-Bold.eot')
  src: url('fonts/aleo/Aleo-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/aleo/Aleo-Bold.woff') format('woff'), url('fonts/aleo/Aleo-Bold.ttf') format('truetype'), url('fonts/aleo/Aleo-Bold.svg#AleoBold') format('svg')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Aleo'
  src: url('fonts/aleo/Aleo-BoldItalic.eot')
  src: url('fonts/aleo/Aleo-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/aleo/Aleo-BoldItalic.woff') format('woff'), url('fonts/aleo/Aleo-BoldItalic.ttf') format('truetype'), url('fonts/aleo/Aleo-BoldItalic.svg#AleoBoldItalic') format('svg')
  font-weight: 700
  font-style: italic

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i')
