.footer
  +break
  background: $primary url('images/footer-bg.jpg') center center
  background-size: cover
  position: relative
  color: $text-color

  a
    color: $text-color

  &__menu-item-space-above
    padding-top: 15px

  &__heading > a
    text-transform: uppercase
    font-weight: 700
    // +rem('font-size', 13px)

  &__menu
    display: none
    +breakpoint($tablet-landscape-up)
      display: block
      margin-top: 30px
      margin-bottom: 60px
      +span(12 of 12)

    > ul
      list-style: none
      margin: 0
      display: flex

      > li
        margin: 0

        a
          padding: 8px 15px
          border-radius: 3px
          font-weight: 700
          +rem('font-size', 14px)

          &:hover
            text-decoration: none
            background: rgba(255,255,255,.2)

      > li:first-child
        padding-left: 0

      > li:last-child
        padding-right: 0

  table
    width: 100%
    +breakpoint($tablet-portrait-up)
      width: 90%
    tr
      padding: 5px
    td
      padding: 5px 5px 5px 0px
      width: 80%

      &:last-child
        font-weight: 700
        text-align: right
        padding: 5px 0px 5px 5px
        width: 20%
    &.tickets
      td
        width: 80%

        &:last-child
          width: 20%

    &.hours
      td
        width: 50%


  &__logo__column
    img
      margin: 30px 0 30px
    +span(12 of 12)
    +breakpoint($tablet-landscape-up)
      +span(2 of 12)
      img
        margin: 0


  &__widget__column
    +span(12 of 12)
      margin-top: 30px

    +breakpoint($tablet-portrait-up)
      margin-top: 0

      h6
        margin-top: 0
      +span(4 of 12)
    +breakpoint($tablet-landscape-up)
      +span(3 of 12)


    &.last
      +span(12 of 12)
      +breakpoint($tablet-portrait-up)
        +span(4 of 12 last)

  &__copyright
    width: 100%
    color: $text-color
    opacity: .5
    text-align: left
    padding-top: 30px
    padding-bottom: 15px
    display: block
    +rem('font-size', 14px)
