input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="search"],
textarea,
.form-control
  @extend %default-border-radius
  +rem('font-size', 16px)
  width: 100%
  border: 1px solid $gray-200
  padding: 12px

  &::placeholder
    color: $gray-300

  &:focus
    border: 1px solid $blue
    box-shadow: inset 0 0 4px $blue

input[type="submit"]
  @extend .btn__primary
  @extend .btn__large

select
  @extend .btn__default
  @extend .btn__secondary
  font-weight: normal
  font-size: inherit
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  height: 44px

fieldset
  margin: 30px 0
  padding: 0
  border: none

  legend
    font-weight: 700

.screen-reader-text
  display: none

.form-group
  margin-bottom: 10px

.wpcf7
  .message
    width: 100%

  .wpcf7-not-valid
    border: 1px solid white
    background: white

  .wpcf7-not-valid-tip
    margin-top: 5px
    background: lighten($red, 40)
    color: $red
    padding: 3px 15px
    width: 200px
    text-align: center
    left: 0
    top: -30px
    border-radius: 2px
    box-shadow: none

    &:after
      content: ''
      width: 0
      height: 0
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-top: 8px solid $red
      position: absolute
      left: 50%
      bottom: -8px
      margin-left: -4px

  .wpcf7-validation-errors
    color: $gray-700
    border: none
    background: $yellow

  .wpcf7-mail-sent-ok
    border: none
    color: white
    background: $green

  .wpcf7-response-output
    margin: 10px 1%
    padding: 15px
    width: 98%
    text-align: center

  .wpcf7-list-item
    &.first,
    &.last
      float: none

  .wpcf7-submit
    min-width: 200px
    margin-top: 15px

#search
  margin-bottom: 25px
  +rem('font-size', 12px)

.select2-container--default
  .select2-selection--single
    border: 1px solid $gray-200
    height: 44px

    .select2-selection__arrow
      height: 44px

  .select2-selection__rendered
    padding: 8px 20px

  .select2-search--dropdown .select2-search__field
    border: 1px solid $gray-200

  .select2-results__option
    &--highlighted[aria-selected],
    &--highlighted[data-selected]
      background-color: $blue

    &[data-selected=true]
      background-color: $gray-100
      color: $gray-900

.select2-dropdown
  border: 1px solid $gray-200
