.logo
  position: absolute
  background: url('images/man-in-the-sea-logo.png') no-repeat
  background-position: top center
  background-size: contain
  text-indent: -9999px
  top: 0
  z-index: 300
  margin-left: 20px
  width: 100px
  height: 173px
  +breakpoint($tablet-portrait-up)
    width: 125px
    height: 173px
  +breakpoint($tablet-landscape-up)
    width: 149px
    height: 173px


.header
  position: fixed
  width: 100%
  height: 135px
  transition: all .3s ease-in-out
  background-position: top center
  background-size: cover
  position: relative
  +breakpoint($tablet-portrait-up)
    height: 230px

  &__angle
    bottom: 0
    left: 0
    width: 100%
    height: 135px
    background: white
    +angle(before, $position: absolute)
    margin-bottom: -120px

    &__home
      background: $red
      // +angle(before, absolute)

.header-nav-background
  width: 100%
  background: url('images/main-header-background.jpg') center no-repeat
  position: relative
  background-size: cover
  height: 800px

  &--angle
    bottom: 0
    left: 0
    width: 100%
    height: 80px
    background: white
    +angle(before)
    position: absolute

  .container
    display: flex
