html
  font-size: 62.5%
  overflow-x: hidden

body
  color: $text-color
  font-weight: normal
  font-family: "Roboto",Arial,sans-serif
  +rem('font-size', 16px)
  line-height: 160%

strong
  font-weight: 700

h1, h2, h3, h4, h5, h6
  font-family: "Aleo",serif
  font-weight: bold

h1, h2, h3, h4, h5, h6
  line-height: 120%
  margin-bottom: .3em
  margin-top: 1.5em

  &.page-title
    color: $primary

  &.page-title
    margin-top: 0
    margin-bottom: .2em

h1
  +rem('font-size', 32px)
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 36px)
h2
  +rem('font-size', 28px)
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 32px)

h3
  +rem('font-size', 24px)
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 28px)

h4
  +rem('font-size', 20px)
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 24px)

h5
  +rem('font-size', 18px)
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 20px)

h6
  +rem('font-size', 16px)
  +breakpoint($tablet-portrait-up)
    +rem('font-size', 18px)


.page-content
  h1, h2, h3, h4, h5
    color: $dark-teal

  h6
    color: $dark-red

  +rem('font-size', 18px)

  p
    margin-bottom: 1em

  ul
    list-style: circle

  ol
    list-style: decimal

  ol, ul
    margin: 10px 0px 10px 20px

  li
    margin: 15px 0

blockquote
  +rem('font-size', 18px)
  color: $gray-500
  font-style: italic
  position: relative
  margin: 10px 0
  padding-left: 10px
  border-left: 5px solid $gray-50
  +breakpoint($tablet-portrait-up)
    margin: 10px 25px
    padding-left: 10px

code
  +rem('font-size', 18px)
  font-family: monospace

.text
  &__center
    text-align: center
  &__left
    text-align: left
  &__right
    text-align: right

  &__color
    &__red
      color: $red
    &__teal--dark
      color: $dark-teal

    &__teal
      color: $teal

    &__dark-red
      color: $dark-red
