input, select, textarea
  &:focus
    outline: none
    box-shadow: 0 0 10px $blue

.alignnone
  margin: 5px 20px 20px 0

.aligncenter, div.aligncenter
  display: block
  margin: 5px auto 5px auto

.alignright
  float: right
  margin: 5px 0 20px 20px

.alignleft
  float: left
  margin: 5px 20px 20px 0

.aligncenter
  display: block
  margin: 5px auto 5px auto

abbr[title]
  text-decoration: none
a
  img
    .alignright
      float: right
      margin: 5px 0 20px 20px

    .alignnone
      margin: 5px 20px 20px 0

    .alignleft
      float: left
      margin: 5px 20px 20px 0

    .aligncenter
      display: block
      margin-left: auto
      margin-right: auto

.wp-caption
  background: #fff
  border: 1px solid $gray-200
  max-width: 100% // Image does not overflow the content area
  padding: 5px 3px 10px
  text-align: center

  .alignnone
    margin: 5px 20px 20px 0

  .alignleft
    margin: 5px 20px 20px 0

  .alignright
    margin: 5px 0 20px 20px

  img
    border: 0 none
    height: auto
    margin: 0
    max-width: 98.5%
    padding: 0
    width: auto

  p
    .wp-caption-text
      +rem('font-size', 11px)
      line-height: 17px
      margin: 0
      padding: 0 4px 5px

.hidden
  display: none

img, object, embed
  max-width: 100%
  height: auto

.postmetadata
  margin-top: 10px
  color: $gray-700

+breakpoint($phone-only)
  .wp-block-image
    overflow: auto
    .alignleft, .alignright, .aligncenter
      width: 100%
      margin: 0
      padding: 0
      float: none
    img
      margin: 0 auto
      display: block

+breakpoint($tablet-portrait-up)
  .wp-block-column
    flex-basis: 45%
    &:nth-child(odd)
      margin-right: 5%
    &:nth-child(2n)
      margin-left: 5%
    &:not(:first-child)
      margin-left: 5%
    &:not(:last-child)
      margin-right: 5%

ol
  .commentlist
    list-style: none

  li
    .comment
      border-bottom: 1px dotted $gray-700
      padding: 10px
    .even
      background: #fff
    .odd
      background: $gray-50
    .parent
      border-left: 5px solid #111

    ul
      .children
        list-style: none
        margin: 10px 0 0

        li
          .depth-2
            border-left: 5px solid #555
            margin: 0 0 10px 10px

        li
          .depth-3
            border-left: 5px solid #999
            margin: 0 0 10px 10px

        li
          .depth-4
            border-left: 5px solid #bbb
            margin: 0 0 10px 10px

    div
      .comment-meta
        +rem('font-size', 10px)

      .reply
        +rem('font-size', 11px)

        a
          font-weight: 700

      .vcard

        cite
          .fn
            font-style: normal

        img
          .avatar
            float: right
            margin: 0 0 10px 10px
