.crumbs
  display: none
  +breakpoint($tablet-portrait-up)
    display: block
    color: rgba(255,255,255, .6)
    margin: 0
    padding: 0

  a
    color: white
    opacity: 1

    &:hover
      text-decoration: underline
