.secondary-top-nav
  display: none
  position: absolute

  +breakpoint($tablet-portrait-up)
    display: block
    z-index: 200
    background-color: $primary
    width: 100%
    height: 33px
    text-align: left

  +breakpoint($tablet-landscape-up)

  .secondary-nav
    text-align: right
    display: inline-block
    margin-left: 180px
    margin-right: 15px
    +rem('font-size', 14px)

    li
      padding: 0
      margin: 0
      list-style: none
      display: inline-block

      a
        padding: 4px 20px
        color: $text-color

        &:hover
          background-color: lighten($primary, 10)
          text-decoration: none
